<template>
  <div class="todo">
    <header>
      <h1>A todo list</h1>
    </header>
    <div class="todo-list">
      <form>
        <label for="task">What do you want to do?</label>
        <input class="task-input" type="text" v-model="todoInput" name="task" id="task">
        <button class="add-btn" v-on:click.prevent="addTodo()">Add</button>
      </form>
      <div class="task-list">
        <ul class="tasks">
          <li v-for="(todo, index) in tasks" :key="index">{{ index }}: {{ todo }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'todo',
  data () {
    return {
      tasks: [
        "Git gud", "Drink beer"
      ],
    }
  },
  methods: {
    addTodo() {
      this.tasks.push(this.todoInput)
      this.todoInput = ""
    }
  }
}
</script>

<style lang="scss">
.todo {
  margin: 0 auto;
  max-width: 550px;

  label {
    display: block;
    font-weight: 700;
  }

  .todo-list {
    box-shadow: 0 2px 4px 0;
    width: 600px;

    .task-input {
      display: inline-block;
      height: 30px;
      margin: 5px;
    }

    .add-btn {
      background-color: #42B983;
      border: none;
      color: white;
      height: 36px;
      width: 40px;
    }

    .task-list {
      .tasks {
        list-style: none;
        padding: 0;
      }
    }
  }

}

input {
  display: block;
}

</style>
